<div class="row">

    <div class="col-xs-12 col-md-8 panel panel-default">
        <div class="panel-body">

            <div style="width: 100%; min-height: 600px"
                 schachzwo-board  ng-model="board"
                 board-size = "match.size"
                 own-color = "self.color"
                 on-select="onSelect(row, column)"></div>
        </div>
    </div>

    <div class="col-xs-4 col-md-4 panel panel-default" >
        <form role="form" class="panel-body">

            <div class="form-group">
                <!-- Button trigger modal -->
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#link-modal">
                    Mitspieler einladen
                </button>


            </div>

            <div class="form-group">
                <table>
                    <tr>
                        <td></td>
                        <th><span class="glyphicon glyphicon-user"></span> {{match.playerBlack.name}} </th>
                        <th><span class="glyphicon glyphicon-user"></span>{{match.playerWhite.name}} </th>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <a class="btn btn-warning" role="button" href="" ng-show="itsMyTurn" ng-click="offerDraw()">Remis anbieten</a>
                <a class="btn btn-danger" role="button" href="" ng-show="itsMyTurn">Aufgeben</a>
            </div>

            <div>

                <span ng-show="onlooker">Du bist ein Zaungast</span>
                <span ng-show="itsMyTurn">Du bist am Zug</span>
                <span ng-show="match.state == 'preparing'">Auf Gegner warten ...</span>
            </div>

        </form>

    </div>

    <!-- Link Modal -->
    <div class="modal fade" id="link-modal" tabindex="-1" role="dialog" aria-labelledby="link-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="link-modal-label">Mitspieler einladen</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Schicke den unten stehenden Link anderen Leuten, damit sie mitspielen oder zuschauen können.
                    </p>
                    <p>
                        <input onclick="this.select();" class="form-control" readonly type="text" ng-model="matchLink"/>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Piece Exchange Modal -->
    <div class="modal fade" id="promotion-modal" tabindex="-1" role="dialog" aria-labelledby="exchange-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="exchange-modal-label">Figur wechseln</h4>
                </div>
                <div class="modal-body">

                    <p ng-repeat="piece in availablePieces">
                        <a class="btn btn-primary" ng-click="promoteRocks(piece)" href="">{{piece.type}}</a>
                    </p>

                </div>
            </div>
        </div>
    </div>




</div>