<div class="content-section">

    <div class="container">

        <div class="row">

            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-xs-6 col-md-4 player-name">
                        <span class="glyphicon glyphicon-play-circle" ng-show="isItTopPlayersTurn()"></span>
                        <span class="glyphicon glyphicon-user" ng-show="!isItTopPlayersTurn()"></span>
                        <span ng-bind="getTopPlayerName()"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="img-responsive">
                            <div style="width: 100%; text-align: center;"
                                 schachzwo-board ng-model="board"
                                 board-size="match.size"
                                 own-color="self.color"
                                 on-select="onSelect(row, column)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-4 player-name">
                        <span class="glyphicon glyphicon-play-circle" ng-show="isItBottomPlayersTurn()"></span>
                        <span class="glyphicon glyphicon-user" ng-show="!isItBottomPlayersTurn()"></span>
                        <span ng-bind="getBottomPlayerName()"/>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-8 col-lg-6" style="padding-top: 80px;">

                    <div class="panel panel-default" ng-show="match.state != 'finished'">
                        <div class="panel-body">

                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                    data-target="#link-modal" ng-show="!itsMyTurn">
                                <i class="glyphicon glyphicon-link"></i>
                                <span translate="INVITE"></span>
                            </button>

                            <div class="btn-group btn-group-lg" ng-show="itsMyTurn">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#link-modal">
                                    <i class="glyphicon glyphicon-link"></i>
                                    <span translate="INVITE"></span>
                                </button>

                                <a class="btn btn-default" role="button" href="" ng-click="offerDraw()"
                                   translate="OFFER_DRAW"></a>
                                <a class="btn btn-default" role="button" href="" ng-click="surrender()"
                                   translate="SURRENDER"></a>
                            </div>

                            <p style="padding-top: 20px">

                            <div class="alert alert-info" ng-show="onlooker" translate="ONLOOKER"></div>
                            <div class="alert alert-success" ng-show="itsMyTurn" translate="MY_TURN"></div>
                            <div class="alert alert-warning" ng-show="match.state == 'preparing'"
                                 translate="WAIT_FOR_OPPONENT"></div>
                            <div class="alert alert-warning" ng-show="itsMyTurn && check"
                                 translate="CHECK_NOTIFICATION"></div>
                            </p>
                        </div>

                    </div>

                    <div class="alert alert-warning" ng-show="match.state == 'finished'"
                         translate="MATCH_FINISHED_NOTIFICATION"></div>

                </div>


            </div>
        </div>

    </div>
</div>


<!-- Link Modal -->
<div class="modal fade" id="link-modal" tabindex="-1" role="dialog" aria-labelledby="link-modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="link-modal-label" translate="INVITE"></h4>
            </div>
            <div class="modal-body">
                <h4 translate="SEND_LINK_INSTRUCTION"></h4>

                <p>
                    <a href="{{matchLink}}">{{matchLink}}</a>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" translate="CLOSE"></button>
            </div>
        </div>
    </div>
</div>


<!-- Piece Exchange Modal -->
<div class="modal fade" id="promotion-modal" tabindex="-1" role="dialog"
     aria-labelledby="exchange-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="exchange-modal-label" translate="EXCHANGE_PIECE"></h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-xs-6 col-md-3" ng-repeat="piece in availablePieces">
                        <a ng-click="promoteRocks(piece)" class="thumbnail">
                            <img src="../img/pieces/{{piece.type}}-{{piece.color}}.svg"
                                 style="width: 80px; height: 80px;">
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<!-- Draw Modal -->
<div class="modal fade" id="draw-modal" tabindex="-1" role="dialog" aria-labelledby="draw-modal-label"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="draw-modal-label" translate="DRAW_OFFER_HEADING"></h4>
            </div>
            <div class="modal-body" translate="DRAW_OFFERED_NOTIFICATION">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="rejectDraw()" translate="REJECT"></button>
                <button type="button" class="btn btn-primary" ng-click="acceptDraw()" translate="ACCEPT"></button>
            </div>
        </div>
    </div>
</div>

<!-- End Modal -->
<div class="modal fade" id="end-modal" tabindex="-1" role="dialog" aria-labelledby="end-modal-label"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="end-modal-label" translate="MATCH_FINISHED_HEADING"></h4>
            </div>
            <div class="modal-body">

                <span ng-bind="getEndMessage()"/>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" translate="BACK_TO_BOARD"></button>
                <a class="btn btn-primary" href="/index.html" translate="BACK_TO_HOME"></a>
            </div>
        </div>
    </div>
</div>
