<div class="content-section">

    <div class="container">

        <div class="row">

            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-xs-6 col-md-4 player-name">
                        <span class="glyphicon glyphicon-play-circle" ng-show="isItTopPlayersTurn()"></span>
                        <span class="glyphicon glyphicon-user" ng-show="!isItTopPlayersTurn()"></span>
                        <span ng-bind="getTopPlayerName()"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="img-responsive">
                            <div style="width: 100%; text-align: center;"
                                 schachzwo-board ng-model="board"
                                 board-size="match.size"
                                 own-color="self.color"
                                 on-select="onSelect(row, column)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-4 player-name">
                        <span class="glyphicon glyphicon-play-circle" ng-show="isItBottomPlayersTurn()"></span>
                        <span class="glyphicon glyphicon-user" ng-show="!isItBottomPlayersTurn()"></span>
                        <span ng-bind="getBottomPlayerName()"/>
                    </div>
                </div>
            </div>


            <div class="row">


                <div class="col-md-8 col-lg-6" style="padding-top: 80px;">

                    <div class="panel panel-default">
                        <div class="panel-body">

                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                    data-target="#link-modal" ng-show="!itsMyTurn"><i
                                    class="glyphicon glyphicon-link"></i>
                                Mitspieler einladen
                            </button>

                            <div class="btn-group btn-group-lg" ng-show="itsMyTurn">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#link-modal"><i class="glyphicon glyphicon-link"></i>
                                    Mitspieler einladen
                                </button>

                                <a class="btn btn-default" role="button" href="" ng-click="offerDraw()">Remis
                                    anbieten</a>
                                <a class="btn btn-default" role="button" href="" ng-click="surrender()">Aufgeben</a>
                            </div>

                            <p style="padding-top: 20px">

                            <div class="alert alert-info" ng-show="onlooker">Du bist ein Zaungast</div>
                            <div class="alert alert-success" ng-show="itsMyTurn">Du bist am Zug</div>
                            <div class="alert alert-warning" ng-show="match.state == 'preparing'">Auf Gegner warten
                                ...
                            </div>
                            </p>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <!-- Link Modal -->
        <div class="modal fade" id="link-modal" tabindex="-1" role="dialog" aria-labelledby="link-modal-label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="link-modal-label">Mitspieler einladen</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Schicke den unten stehenden Link anderen Leuten, damit sie mitspielen oder zuschauen
                            können.
                        </p>

                        <p>
                            <input onclick="this.select();" class="form-control" readonly type="text"
                                   ng-model="matchLink" style="cursor: default;"/>
                        </p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Piece Exchange Modal -->
        <div class="modal fade" id="promotion-modal" tabindex="-1" role="dialog"
             aria-labelledby="exchange-modal-label"
             aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exchange-modal-label">Figur wechseln</h4>
                    </div>
                    <div class="modal-body">

                        <p ng-repeat="piece in availablePieces">
                            <a class="btn btn-primary" ng-click="promoteRocks(piece)" href="">{{piece.type}}</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>


        <!-- Draw Modal -->
        <div class="modal fade" id="draw-modal" tabindex="-1" role="dialog" aria-labelledby="draw-modal-label"
             aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="draw-modal-label">Remis angeboten</h4>
                    </div>
                    <div class="modal-body">

                        TODO: Text

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="rejectDraw()">Ablehnen</button>
                        <button type="button" class="btn btn-primary" ng-click="acceptDraw()">Annehmen</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Modal -->
        <div class="modal fade" id="end-modal" tabindex="-1" role="dialog" aria-labelledby="end-modal-label"
             data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="end-modal-label">Die Partie ist vorbei!</h4>
                    </div>
                    <div class="modal-body">

                        <span ng-bind="endCause"/>

                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="index.html">Ok</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
