<div class="jumbotron">
    <h1>SchachZWO</h1>

    <p>{{name}}</p>

    <p>Wenn du SchachZWO mit einem Freund spielen möchtest, klicke einfach
        auf "Neue Partie" und du erhältst einen Link, mit dem du deinen Freund einladen kannst!
    </p>

    <p>
        <a class="btn btn-primary btn-lg" role="button" href="" ng-click="createNewGame(7)">7x7 Partie</a>
    </p>


    <p>
        <a class="btn btn-primary btn-lg" role="button" href="" ng-click="createNewGame(9)">9x9 Partie</a>
    </p>

</div>